    <div class="col-sm-12" style="display:block;background-color:#070707">
        <p style="color:#ffd194;" class="col-sm-offset-4 col-xs-offset-3">
            <br/>
           Created with thoughts by
            <a style="color:#ffeb3b !important;" target="_blank" href="http://www.twitter.com/alammahtab08">
                @alammahtab08
            </a> for the love of Punjab and its people
        </p>
    </div>
