<!--  Top Fixed Navigation bar  -->
    <div class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar" ></span>
              <span class="icon-bar" ></span>
              <span class="icon-bar" ></span>
           </button>
           <a  href="#" class="navbar-brand">
            <!--<img height="30" width="60" src="/images/logo.png">-->
               Punjab is dying
           </a>
          </div>

          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#punjab">Punjab</a></li>
                <li><a href="#cancer">Cancer</a></li>
                <li><a href="#unemployment">Unemployment</a></li>
                <li><a href="#drugs">Drugs</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#not-all-gloomy">Not all gloomy</a></li>
                <li><a href="#support-the-cause">Support the Cause</a></li>
              </ul>
          </div>
      </div>
    </div>
    <!--  Complete Top Fixed Navigation bar -->
