<!DOCTYPE html>
<html>

    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Punjab is Dying</title>
        <% include partials/cssIncludes.ejs %>
    </head>


    <body style="background-color:#90EE90">

      <% include partials/menu.ejs %>
      <br/><br/><br/><br/>

        <div class="container">


        <section id="punjab">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="row">
                <h3 style="font-size:30px;text-align:center">Punjab (ਪੰਜਾਬ)</h3>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:25px;align:center">
                  Punjab is a state of India, well known for its rich culture, colorful and friendly people. Punjabis are some of the awesomest people you will ever met in your life. But unfortunately this beautiful state is in serious problem today
                </p>
                     <br/>
             </div>

            </div>
        </section>


        <section id="cancer">
            <br/><br/><br/><br/><br/><br/>
            <div class="row">
                <h3 style="font-size:30px;text-align:center">Cancer</h3>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:25px;align:center">
                   Cancer has taken a dangerous form, specially in Malwa region of Punjab. Every night around 9:30 infamous cancer train departs from Bathinda railway station to Bikaner, almost all the passengers of this train are cancer patients and their family members. If you get a chance to be there on this railway station, you will get to know the havoc that cancer have caused.
                </p>
             </div>
            </div>
        </section>


        <section id="unemployment">
            <br/><br/><br/><br/><br/><br/>
            <div class="row">
                <h3 style="font-size:30px;text-align:center">Unemployment</h3>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:25px;align:center">
                   Unemployment is making the situation even worse. There is not much Job opportunities for young people, forcing them to look for work in other states of India or go to foreign countries like Canada or Australia. Unemployment is leading to many other problems
                </p>
                    <br/>
             </div>
            </div>
        </section>

         <section id="drugs">
            <br/><br/><br/><br/><br/><br/>
            <div class="row">
                <h3 style="font-size:30px;text-align:center">Drugs</h3>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:25px;align:center">
                   Drugs that is smuggled from Pakistan have ruined so many families in Punjab. In some parts of the Punjab there are families who have lost all their sons because of drugs. And now synthetic drugs are available in Punjab, making drugs reachable to every single person
                </p>
             </div>
            </div>
        </section>


        <section id="education">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="row">
                <h3 style="font-size:30px;text-align:center">Education</h3>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:25px;align:center">
                 Education system is crubmled up in Punjab like many other Indian states. Many families just don't believe in educating their children either because they can't afford it or by seeing how impractical education system is
                </p>
             </div>
            </div>
        </section>


        <section id="not-all-gloomy">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="row">
                <h3 style="font-size:30px;text-align:center">Not all Gloomy</h3>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:25px;align:center">
                 But things are changing in Punjab, so many people and NGOs have come forward to address the issues and help families going through tough times. But they surely need more helping hands
                </p>
                    <br/>
             </div>
            </div>
        </section>


        <section id="support-the-cause">
            <br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="row">
                <h3 style="font-size:30px;text-align:center">Support the Cause</h3>
            </div>
            <div class="row">
                <div class="col-sm-offset-3 col-xs-offset-2 col-sm-6 col-xs-6">
                <p style="font-size:25px;align:center">
                  Creating awareness does not necessarily solves the problem but it makes more people aware of whats going on. You never know how many lives it can save
                </p>
             </div>
            </div>
        </section>
        <br/><br/><br/><br/><br/><br/><br/>
        </div>


        <% include partials/footer.ejs %>
        <% include partials/jsIncludes.ejs %>
    </body>

<script>
$(".navbar-nav li a").click(function(event) {
    if (!$(this).parent().hasClass('dropdown'))
        $(".navbar-collapse").collapse('hide');
});
</script>

</html>
